*, *::before, *::after {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}
#game-board {
    width: 400px;
    height: 400px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}
.snake {
    background-color: yellowgreen;
    border: 0.25vmin solid rgb(35, 171, 224);
}
.food {
    background-color: red;
}